# These owners will be the default owners for everything in the repo.
* @yeisson-venencia @david-monroy @Gino-Lopez12 @albasanchez @vanessanadal @carolinapatino @LuisRFuentes @Dagutierrez14 @thonygrz
