.CommercialAlly h1 {
  position: relative;
}

.header-color th{
  color:#1C1954 !important;
}

.dark-text-color{
  color:#1C1954 !important;
}

.warehouse-word{
  word-break: break-word !important;
}

.warehouse-color {
  background: $primary-gradient;
  color: white;
}

.warehouse-footer-color{
  background: rgb(235, 235, 235);
  color: white;
}
