.dashboard-card__item {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.5;
}
.dashboard-card__image {
  width: 45%;
  padding-bottom: 14px;
}
.dashboard-card__info {
  color: $primary-color;
}
.dashboard-card__info-title {
  font-size: 20px;
  margin: 6px 0 8px 0;
}
.dashboard-card__info-text {
  font-size: 14px;
}
.dashboard-card__info-icon{
  color: $primary-color !important;
}
.dashboard-card__item:hover {
  cursor: pointer;
  background-color: $third-color !important;
  transition: 0.6s;
  color: $second-color !important;
}
.dashboard-card__item:hover > .dashboard-card__info { 
  color: $second-color !important;
}
.dashboard-card__item:hover > .dashboard-card__info .dashboard-card__info-icon { 
  color: $second-color !important;
}
@media only screen and (max-width: 960px) {
  .dashboard-list {
    flex-wrap: wrap;
  }
  .dashboard-card__image {
    width: 30%;
    margin: 0 auto;
  }
  @media only screen and (max-width: 720px) {
    .dashboard-card__image {
      padding-bottom: 2px;
    }
    .dashboard-card__info-title {
      font-size: 15px;
      margin: 1px 0 3px 0;
    }
    .dashboard-card__info-text {
      font-size: 12px;
    }
  }
}
