.service-list{
    display: flex;
    justify-content: center;
}
.service-item{
    margin: 0 10px;
    width: 260px;
    height: 320px;
}

#Services:before {
    content:"";
    position: absolute;
    width: 100%;
    height: 480px;
    background-color: $second-color;
    opacity:0.7;
}
#Services h1 {
  position: relative;
  margin-top: 18px;
}

@media only screen and (max-width: 960px){
.service-list{
    flex-wrap: wrap;
}
.service-item{
    width: 310px;
    height: 240px;
    margin: 8px;
}
#Services {
  height: 100%;
  font-size: 16px;
}
#Services:before {
  height: 625px;
}
}

@media only screen and (max-width: 720px){
.service-list{
    flex-wrap: wrap;
}
.service-item{
    width: 260px;
    height: 190px;
    margin: 8px;
}
#Services:before {
  height: 540px;
}
}
@media only screen and (max-width: 550px){
#Services:before {
  height: 940px;
}
}