.idTracking-box{
    background-color:#dff6f0;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items:center ;
    margin:0;
    padding:0 20px;
    border-radius: 15px;
}

@media screen and (max-width: 7200px){
    .idTracking-box{
        width: 65%;
    }
}

@media screen and (max-width: 720px){
    .idTracking-box{
        width: 85%;
    }
}
