
$primary-color: #1c1954;

$primary-gradient: linear-gradient(90deg, rgba(28,25,84,1) -13%, rgba(45,40,126,1) 0%, rgba(28,25,84,1) 100%);

$second-color: #dff6f0;

$third-color: #4d80e4;

$success-color: #07fcbf;

$base-url: '/images/';

