
$primary-color: #4d80e4;

$primary-gradient: linear-gradient(90deg, rgba(124,161,233,1) 0%, rgba(77,128,228,1) 50%, rgba(46,100,207,1) 100%);

$second-color: #1c1954;

$third-color: #dff6f0;

$success-color: #07fcbf;

$base-url: '/images/';
