.dashboard-list {
  display: flex;
  justify-content: center;
}
.page-content,
.home {
  height: 100%;
}
#Dashboard {
  height: 100%;
}

#Dashboard h1 {
  position: relative;
}

@media only screen and (max-width: 960px) {
  .dashboard-list {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 720px) {
  .dashboard-list {
    flex-wrap: wrap;
  }
}
