.navbar-color {
  background: $primary-gradient;
  width: 100%;
}
.lang-btn {
  max-width: 50px;
}
#imgNavbar:hover {
  cursor: pointer;
}

#menuNavbar {
  color: $second-color !important;
}

.navbar-translator,
.navbar-translator .v-application .primary--text {
  color: $third-color !important;
  text-decoration: none;
  // padding-bottom: 8px;
  transition: 0.3s;
}
