#Profile {
  height: 100%;
}

#Profile h1 {
  position: relative;
}

.profileTitle {
  height: 20px;
}

.image {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}

.tab {
  min-width: 50px !important;
}

.tab div {
  width: 100%;
}

.snackText {
  font-size: 15px;
  color: #1c1954;
  margin: 0px !important;
}
