#sections-list {
  display: flex;
  background-color: transparent;
}
.sections-menu__item {
  color: $second-color !important;
  text-decoration: none !important;
}
.sections-list__item {
  color: $third-color !important;
  text-decoration: none;
  // padding-bottom: 8px;
  transition: 0.3s;
}
.sections-list__item:hover {
  color: $second-color !important;
  cursor: pointer;
}
.sections-list__item.active {
  color: #07fcbf;
  border-bottom: #07fcbf solid 2px;
}