#TrackingPage {
  height: 100%;
}

@media only screen and (max-width: 1900px) {
  #TrackSec {
    background-position-y: -260px;
  }
}
@media only screen and (max-width: 1200px) {
  #TrackSec {
    background-position-y: -25px;
  }
}
@media only screen and (max-width: 960px) {
  #TrackSec {
    background-position-y: 0;
  }
}
